AnchorPane, Pane, DialogPane {
	-fx-background-color:#FFFFFF;
}
MenuBar, .menu, .menu-item {
	-fx-background-color: #4CAF50;
}

.menu .label, .menu-item .label {
    -fx-text-fill: #FFFFFF;
}

.menu-item:focused {
     -fx-background-color: #275c2b;
     -fx-cursor: hand;
}

.menu:hover {
    -fx-background-color: #275c2b;
    -fx-cursor: hand;
}

.context-menu {
    -fx-skin: "com.sun.javafx.scene.control.skin.ContextMenuSkin";
    -fx-background-color: #4CAF50;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0, 0, 0, 0;
    -fx-padding: 0.333333em 0.083333em 0.666667em 0.083333em; /* 4 1 8 1 */
}

Button {
	-fx-background-color: #4CAF50;
	-fx-border-color: #4CAF50;
	-fx-background-radius: 0, 0, 0, 0;
	-fx-text-fill: #FFFFFF;
}

Button:hover {
	-fx-background-color: #275c2b;
	-fx-border-color: #275c2b;
	-fx-cursor: hand;
}

TextField, PasswordField, ListView, TextArea, TextField:disabled  {
	-fx-border-color: #CCCCCC;
	-fx-background-color: #FFFFFF; 
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 5, 4, 3;
    -fx-opacity: 1.0;
}

TextField:focused, PasswordField:focused, TextArea:focused, ListView:focused {
	-fx-background-color: none;
    -fx-background-insets: -0.4, 1, 2;
    -fx-background-radius: 3.4, 2, 2;
}

TableView:focused {
	-fx-padding: 0 0 0 0;
	-fx-background-insets: 0, 1, 2;
	-fx-border-color: #CCCCCC;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: #275c2b;
    -fx-background-insets: 0, 1, 2;
}

TableView .column-header {
	-fx-background-color: #4CAF50;
}

TableView .column-header .label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.cancelar {
	-fx-background-color: #ff6a6a;
	-fx-border-color: #ff6a6a;
}

.cancelar:hover {
	-fx-background-color: #ff4040;
	-fx-border-color: #ff4040;
}

.combo-box .list-cell 
{
    -fx-background-radius: 0, 0, 0, 0;
}